td, th {
    width: 100px;
}

/*remove?*/
p, h1,h2,h3,h4,h5,a,input,th,td {
    font-family: 'Roboto', sans-serif;
}

body{
	margin: 0;
    background: url("bilder/bg4.png");
}
header{
	border:1px solid black;
	height: 45px;
	width:100%;
	position: fixed;
	text-align: center;
    background: #00f16d;
}
footer{
    width: 1000px;
}
#logga{
	text-align: center;
	margin: 0;
	display: inline-block;
}
#searchBar{
	width: 40%;
    margin: 40px auto;
}
#searchInput{
	width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
}
#bodyContainer{
	padding-top: 65px;
    width: 1000px;
    margin: 0 auto;
}
#offerContainer{
	text-align: center;
	margin: 0 auto;
    height: 400px;
    width: 1000px;
    background: red;
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: 0 0 3px 0px;
}
.offerContainer-sections{
	width:30%;
	margin: 10px;
	height: auto;
	display: inline-block;
    vertical-align: top;
	background-color: white;
}
.offerContainer-sections > h2{
    background: #eaeaea;
    margin: 0;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border: 1px solid #9F9F9F;
    box-sizing: border-box;
}
.productContainer{
    height: 64px;
    line-height: 64px;
    background: #eaeaea;
    padding: 10px;
    border: 1px solid #9F9F9F;
    box-sizing: ;
}
.productTitle, .productPrice{
    line-height: 64px;
    margin: 0;
    text-align: center;
}
.productTitle, .productPrice, .productImage128 {
    display: inline-block;
    vertical-align: top;

}
.productTitle{
    width: 100px;
}
.productImage64 {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid;
    box-sizing: border-box;
}
.productPrice{
    float: right;
    margin-right: 30px;
}
#searchContainer{
	width: 980px;
	height: 180px;
	padding: 10px;
	border: 1px solid black;
	background-color: #00B4FF;
	margin:10px auto 0;
}

/* sök */
#filterContainer{
    width: 580px;
    margin: 0 auto;
    background: #eaeaea;
    border: 1px solid #9f9f9f;
    padding: 10px;
}
#results{
    margin: 0 auto;
    padding-top: 20px;
}
tr{
    height: 40px;
}
tr td{
    border-bottom: 1px solid #9f9f9f;
    background: #eaeaea;
    padding: 0;
    margin: 0;
}
td{
    text-align: center;
}
thead{
    outline: 1px solid #9f9f9f;
    background: #eaeaea;
    
}
thead tr th{
    padding: 10px;
}
#loginHeader {
    margin: 0;

}

#usernameInput, #passwordInput {
    display: block;
    margin: 0 auto;
}

#loginSection {
    width: 300px;
    border: 1px solid black;
    box-shadow: 0 0 3px 0px;
    margin: 0 auto;
    background: #aeaeae;
}

#butiksinfo {
    display: inline-block;
    float: left;
    width: auto;
    margin-left: 80px;
    background: #eaeaea;
    height: 390px;
    padding: 10px;
    border: 1px solid #9F9F9F;
    margin-top: 10px;
}
#butiksinfo p {
    margin-bottom: 30px;
}

#productContainerStore {
    width: 500px;
}

.underlined {
    text-decoration: line-through;
}

nav {
    position: fixed;
    right: 10px;
    top: 0px;
    line-height: 40px;
}
